# Main account's private key. This account is used to deploy the smart contracts
# Account must have enough crypto (depending on target network) to deploy the smart contracts.
PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1

# Blockchain Networks
## Ethereum
ETHEREUM_RINKEBY_URL=https://eth-rinkeby.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
ETHEREUM_RINKEBY_ETHERSCAN_API_KEY=<API KEY>

ETHEREUM_ROPSTEN_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
ETHEREUM_ROPSTEN_ETHERSCAN_API_KEY=<API KEY>

## Polygon
POLYGON_URL=https://polygon-mainnet.g.alchemy.com/v2/<YOUR ALCHEMY KEY>
POLYGON_ETHERSCAN_API_KEY=<API KEY>

POLYGON_MUMBAI_URL=https://polygon-mumbai.g.alchemy.com/v2/<YOUR ALCHEMY KEY>
POLYGON_MUMBAI_ETHERSCAN_API_KEY=<API KEY>
